.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 50vh;

  @media (max-width: 767px) {
    height: 25vh;
  }
}
