.bg {
  background-color: red;
  min-height: 100vh;
  color: white;
}

.spacer {
  width: 100%;
  height: 10vh;
}

.gridWrap {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 90vh;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 84vw;
  height: auto;
}

.cell {
  display: block;
  position: relative;
  margin: 0.3vw;
  width: 20vw;
  height: 26.6vw;
  font-size: 1.2rem;

  @media (max-width: 767px) {
    width: 40vw;
    height: 53.2vw;
    font-size: 0.8rem;
  }
}

.thumb {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hover {
  display: flex;
  align-items: center;
  transition: 0.2s ease;
  color: #000;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.hoverInner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 35%;
  background-color: rgba(255, 255, 255, 0.5);
}

.hoverText {
  width: 100%;
}
