.cursorOverflow {
  overflow: hidden;
}

.cursor {
  position: absolute;
  transition: all 3s;
}

.modelLoader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30vh;
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.4s;
  z-index: 1;

  @media (max-width: 767px) {
    height: 20vh;
  }
}

.modelLoaderFaded {
  opacity: 0;
}
